*{
    margin: 0;
    padding: 0;
}

.card-container {
    padding-top: 20px;
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.card {
    padding-top: 10px;
    display: flex;
    width: 18rem;
    justify-content: center;
    text-align: center;
}

